@{
    ViewBag.Title = "Про нас";
}

<br />
<div class="row well">
    <div class="col-md-12">
        <h2 class="text-center">Ми - Hermes-trans</h2>
        <br />
        <p>
            Протягом 10 років працює на ринку міжнародних перевезень товарів народного споживання в Україні. За ці роки Hermes-trans надійно закріпилася і зайняла лідируючі позиції в цій сфері послуг.
        </p>
    </div>
</div>
<br />
<br />
