@{
    ViewBag.Title = "Контакти";
}



@*<address>
    Україна, Харківьска область,<br />
    Харків, вул. Ком. Уборевича, б. 28/64, оф. 205<br />
    <strong>Телефони:</strong>
    <p>+(380)-666-272-221</p>
    <p>+(380)-986-112-321</p>
</address>

<address>
    <strong>Email1:</strong><a href="#">hermes_trans@gmail.com</a><br />
    <strong>Email2:</strong> <a href="#">mail2@gmail.com</a>
</address>*@
<br />
<br />
<div class="row well">
    <div class="col-md-12">
        <h2 class="text-center">@ViewBag.Title</h2>
        <address>
            Україна, Харківьска область,<br />
            Харків, вул. Ком. Уборевича, б. 28/64, оф. 205<br />
            <strong>Телефони:</strong><br />
            <p>+(380)-666-272-221</p>
            <p>+(380)-986-112-321</p>
        </address>

        <address>
            <strong>Email1:</strong><a href="#">hermes_trans@gmail.com</a><br />
            <strong>Email2:</strong> <a href="#">mail2@gmail.com</a>
        </address>
    </div>
</div>
<br />
<br />