@{
    ViewBag.Title = "Замовлення успішно виконано!";
}

<div class="row text-center" style="margin-top:50px;margin-bottom:70px;">
    <div class="col-md-12">
        <h2 class="text-success">Дякуємо за ваше замовлення!</h2>   
        <p>Перегляну статус заказу можно у @Html.ActionLink("особистому кабінеті", "Index", "Manage")</p>
    </div>
</div>

